.timer-row {
 background: #FBF9FA !important;
 color: black !important
}

.payment-tabs__tab.active {
 border-bottom: #A80038 3px solid !important
}

.action-button {
 background: #A80038 !important;
 border-color: #A80038 !important;
}
.action-button:hover{
   background: #FEB139 !important;
  border-color:   #FEB139 !important;

}

.powered__by__btcpayserver a {
  color: #A80038 !important
}
.powered__by__btcpayserver a:hover{
 color: #FEB139 !important
}

.prettydropdown > ul.active > li:not(.label):hover, .prettydropdown > ul.active > li.hover:not(.label), .prettydropdown > ul.active > li:first-child:hover:after{
background: #A80038 !important;
}
.prettydropdown:not(.disabled) > ul.active{
 border-color:  #A80038 !important;
}

.separatorGem {
 background: #FEB139 !important
}

.timer-row.expiring-soon {
 background: #A80038 !important;
 color: white !important;
}

.expired .timer-row {
 background: #A80038 !important;
 color: white !important;
}

.top-header .timer-row__spinner svg {
 fill: #A80038;
}


.expiring-soon .timer-row__spinner svg {
 fill: white !important;
}

